<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLMQC App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">LLMQC App</a>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body card-content">
                        <h5 class="card-title"><strong>1.</strong> Questions</h5>
                        <ul class="list-group">
                            {% for question in questions %}
                                <li class="list-group-item">
                                    <strong>Question {{ question.number }}:</strong> {{ question.text }}<br>
                                    <small>
                                        <strong>Has Codes:</strong> {{ 'Yes' if question.has_codes else 'No' }}<br>
                                        <strong>Number of Responses:</strong> {{ question.num_responses }}
                                    </small>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body card-content">
                        <h5 class="card-title"><strong>2.</strong> Codes</h5>
                        <div class="row" style="overflow-x: auto; min-width: 200px;">
                            {% for code_col, code_list in codes.items() %}
                                <div class="col-md-4" style="padding-right: 5px; padding-left: 5px;">
                                    <h6>Codes for Question {{ loop.index }} Responses</h6>
                                    <ul class="list-group mb-3">
                                        {% for code in code_list %}
                                            <li class="list-group-item" style="padding-top: 5px; padding-bottom: 5px;">
                                                <strong>{{ code.code }}</strong><br>
                                                <small>{{ code.description }}</small>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body" style="overflow-y: scroll;">
                        <h5 class="card-title"><strong>3.</strong> Process</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="limit">Limit responses <br> </label>
                                <input id="limit" class="form-control mb-2" type="number" value="0">
                                <span class="text-muted">(0 = no limit)</span>
                            </div>
                            <div class="col-md-4">
                                <label for="iterations">Iterations</label>
                                <input id="iterations" class="form-control mb-2" type="number" value="10">
                            </div>
                            <div class="col-md-4">
                                <label for="threads">Threads</label>
                                <input id="threads" class="form-control mb-5" type="number" value="1">
                            </div>
                            <div class="col-md-4">
                                <label for="model">API Model</label>
                                <select id="model" class="form-control mb-2">
                                    <option value="gpt-4o">GPT-4o</option>
                                    <option value="gpt-4-turbo">GPT-4 Turbo</option>
                                    <option value="gpt-3.5-turbo">GPT-3.5 Turbo</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="apikey">API Key</label>
                                <input id="apikey" class="form-control mb-2" type="password" placeholder="Enter your API key">
                            </div>
                        </div>
                        <button id="start-btn" class="btn btn-primary">Run</button>
                        <button id="stop-btn" class="btn btn-danger">Stop</button>
                        <p class="mt-5"><strong>Status:</strong> <span id="process-status-string">-</span></p>
                        <div class="progress mt-2">
                            <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body" style="overflow-y: scroll;">
                        <h5 class="card-title"><strong>4.</strong> Results</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="pvalue">p-Value<br> </label>
                                <input id="pvalue" class="form-control mb-2 " type="number" value="0.95">
                                <!-- <span class="text-muted">(0 = no limit)</span> -->
                            </div>
                        </div>
                        <button id="load-results-btn" class="btn btn-primary mb-3">Load Results</button>
                        <p>Krippendorff's Alpha using MASI: <span id="icr">?</span></p>
                        <div class=" mb-5" id="results-container" >
                            <!-- Results will be loaded here -->
                        </div>
                        <!-- <a href="/download_results" class="btn btn-success">Download Results</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer text-center mt-4">
        <div class="container">
            <p class="text-muted">Daniel Szabo&lt;<a href="mailto:daniel.szabo@oulu.fi">daniel.szabo@oulu.fi</a>&gt;</p>
            <p class="text-muted"><a href="crowdcomputing.net">Crowd Computing Oulu</a></p>
            <p class="text-muted"><a href="https://github.com/Crowd-Computing-Oulu/llmqc-app">GitHub Repository</a></p>
        </div>
    </footer>

    <script>
        function updateProgress() {
            $.get("/process_status", function(data) {
                $("#progress-bar").css("width", data.progress + "%");
                if (data.running) {
                    setTimeout(updateProgress, 1000);
                    $("#process-status-string").text(data.string)
                } else {
                    setTimeout(updateProgress, 5000);
                    $("#process-status-string").text(data.string)
                }
            });
        }

        $("#start-btn").click(function() {
            var limit = $("#limit").val();
            var iterations = $("#iterations").val();
            var threads = $("#threads").val();
            var model = $("#model").val();
            var apikey = $("#apikey").val();
            $.ajax({
                url: "/start_process",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ 
                    limit: limit ,
                    iterations: iterations,
                    threads: threads,
                    model: model,
                    apikey: apikey
                }),
                success: function() {
                    updateProgress();
                }
            });
        });

        $("#stop-btn").click(function() {
            $.get("/stop_process");
        });

        $("#load-results-btn").click(function() {
            // Get the value of the pvalue text field
            let pvalue = $("#pvalue").val();

            // Construct the URL with the pvalue parameter
            let url = `/get_results?pvalue=${pvalue}`;

            // Make the AJAX GET request with the updated URL
            $.get(url, function(data) {
                let resultsHtml = '';
                $("#icr").text(data.icr.toFixed(2))
                results = data.results
                for (const [question, responses] of Object.entries(results)) {
                    resultsHtml += `<strong>Question ${question}</strong><br>`;
                    for (const [response, ratios] of Object.entries(responses)) {
                        resultsHtml += `<span>${response} - `;
                        let ratiosArray = [];
                        for (const [code, ratio] of Object.entries(ratios)) {
                            ratiosArray.push(`${code} (p = ${(ratio).toFixed(2)})`);
                        }
                        resultsHtml += ratiosArray.join(', ') + '</span><br>';
                    }
                }
                $("#results-container").html(resultsHtml);
            });
        });
    </script>
</body>
</html>
